[Unit]
Description=Regularly run SprudlTracker

[Timer]
OnBootSec=2min
OnCalendar=*-*-* 03/4:30:00
Unit=sprudltracker.service

[Install]
WantedBy=timers.target